//colors
$color-black: #000;
$color-white: #FFF;

$color-orangey-red: #F44337;
$color-grey: #828282;
$color-dark-grey: #525252;


$color-vivid-blue: #2A42ED;
$color-greyish-brown: #484848;

$bookmakers-transition-time: 0.5s;

//viewports sizes
$desktop: 1100px;